<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sistema de Cadastro</title>
<link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>

<header>
    <h1>Sistema de Cadastro</h1>
    <nav>
        <ul>
            <li><a href="/categories/createcategory">Cadastrar Categorias</a></li>
            <li><a href="/categories">Listar Categorias</a></li>
        </ul>
    </nav>
</header>

{{{body}}}

<footer>
    <p> HELP-DESK, 2024 - Todos os direitos reservados.</p>
    <p></i> Desenvolvido por: <a href="/" title="Help-Desk">Help-Desk</a></p>
</footer>

</body>
</html>


{{!-- // --}}


{{!-- <!doctype html>
<html>

<head>
  <!-- Definição da viewport para tornar o site responsivo -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título da página -->
  <title>HELP-DESK</title>
  <!-- Link para o arquivo CSS de estilos -->
  <link rel="stylesheet" type="text/css" href="./CSS/stylePagina1.css">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="icon" type="image/png" href="./images/favicon.png"> <!-- favicon -->
</head>

<body>

     <!-- Cabeçalho da página -->
  <header>
    <!-- Logo do Help-Desk -->
    <a href="#" class="logo"></a>
    <!-- Imagem da logo do Help-Desk -->
    <img class="logo"
      src="https://files.elfsightcdn.com/eafe4a4d-3436-495d-b748-5bdce62d911d/738134e2-9439-4557-a9aa-d7c335e6cc4e/DESK-removebg-preview.png"
      alt="Descrição da Logo">
    <!-- Lista de navegação -->
    <ul class="navigation">
      <!-- Links para diferentes seções da página -->
      <li><a href="/categories" title="GUIA-HD" class="active" class="bold-text">GUIA</a></li>
      <li><a href="/index.html" title="Procedimentos" class="bold-text">PROCEDIMENTOS</a></li>
      <li><a href="/Pages/equipe.html" title="Equipe" class="bold-text">EQUIPE</a></li>
      <li><a href="/Pages/links.html" title="Links" class="bold-text">LINKS</a></li>
      <li><a href="/Pages/horarios.html" title="Horários" class="bold-text">HORÁRIO</a></li>
    </ul>
  </header>

  <section class="sec">
    <!-- Título da seção secundária -->
    <h2>GUIA HELP-DESK</h2>
    <!-- Parágrafo de introdução -->
    <p>Sistema de cadastro de Artigos!</p>
  </section>
   

{{{body}}}

<footer>
    <p> HELP-DESK, 2024 - Todos os direitos reservados.</p>
    <p></i> Desenvolvido por: <a href="/" title="Help-Desk">Help-Desk</a></p>
</footer>

</body>
</html> --}}