<div class="categories-container">
  <h1>Categorias Disponiveis</h1>
  {{#each categories}}
    <div>
      <span class="nome_categoria"><a href="/categories/{{this.idCategoria}}"> {{this.nome_categoria}} </a></span> 
      - {{this.descricao}}
    </div>
  {{/each}}
</div>
