<h1>Cadastro Categorias:</h1>
<form action="/category/createcategory" method="POST" class="form">
    <div class="form-control">
        <label for="nome_categoria">Nome da Categoria</label>
        <input type="text" name="nome_categoria" placeholder="Digite o nome da Categoria">
    </div>
    <div class="form-control">
        <label for="descricao">Descricao da Categoria</label>
        <input type="text" name="descricao" placeholder="Digite a descricao da Categoria">
    </div>
    <input type="submit" value="Cadastrar">
</form>