<h1>Edição de Categoria:</h1>
<form class="form" action="/categories/updatecategory" method="POST">
  <input type="hidden" name="id" value="{{category.idCategoria}}">
  <div class="form-control">
    <label for="nome_categoria">Nome da categoria</label>
    <input type="text" name="nome_categoria" placeholder="Nome da Categoria" value="{{category.nome_categoria}}">
  </div>
  <div class="form-control">
    <label for="descricao">Descricao da Categoria</label>
    <input type="text" name="descricao" placeholder="Descricao da categoria" value="{{category.descricao}}">
  </div>
  <input type="submit" value="Editar" onclick="return confirmarAcao()">
  <a href="/categories">Voltar</a>
</form>

<script>
  function confirmarAcao() {
    const confirmacao = confirm("Tem certeza que deseja prosseguir com a alteração?");
    if (confirmacao) {
      return true;
    } else {
      return false;
    }
  }
</script>